body{
    background-color:darkseagreen;
}
h1{
    color:black;
    background-color: darkseagreen;
}

#show_sketch{
    float:right;
    margin-right: 10px;
}

canvas{
    border: 5px solid white;
    border-radius:20px;
    animation-name: example;
    margin-top:140px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{ box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p{
    padding-top:10px;
    font-size:25px;
    
}